:root {
    --primary-color: deeppink;
    --white-color: #ffffff;
    --light-color: #ced6e0;
    --dark-color: #2f3542;
    --box-shadow: rgb(0 0 2 / 35%) 0px 20px 30px -10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* ------ Start of Header Section ------ */

.container-header {
    display: flex;
    align-items: center; 
    background-color: rgb(168, 27, 27);
    margin-bottom: 0;
}

.link-container-header {
    flex-grow: 1; 
    display: flex; 
    justify-content: center;
}

.signin-container-header img {
    width: 35px; 
    height: auto;
    margin-right: 10px;
}

.container-header .logo {
    margin-left: 5px; 
    width:auto; 
    height: 65px; 
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
}

.container-header .webpage a {
    color: white; 
    font-size:25px; 
    font-weight: 100;
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 40px;
    text-decoration: none; 
    position: relative;
}

.container-header .webpage a::after {
    content: ''; 
    height: 3.5px; 
    width: 0;
    background: goldenrod;
    position: absolute; 
    left: 0; 
    bottom: -8px; 
    transition: 0.5s;
}

.container-header .webpage a:hover::after {width: 100%;}

@media(max-width: 540px){
    /* Header part elements */
.container-header {display: flex; align-items: center; background-color: rgb(168, 27, 27);}
.link-container-header {flex-grow: 1; display: flex;justify-content: center; align-items: center;
    flex-wrap: wrap;}
.signin-container-header img {width: auto; height: 45px; padding: 2px; margin-right: 10px;}
.container-header .logo {margin-left: 2px;width: 50px; height: 50px; cursor: pointer;border-radius: 50%; padding: 3px;}
.container-header .webpage a {color: white;font-size: 13px;font-weight: 100;text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    ;text-decoration: none; margin: 5px}
.container-header .webpage a::after {content: '';height: 3.5px;width: 0;background: goldenrod;
    position: absolute;left: 0;bottom: -8px;transition: 0.5s;}
.container-header .webpage a:hover::after {width: 100%;}
}

/* ------ End of Header Section ------ */


/* ------ Start of Cover Page Section ------ */

.cover-page-container {
    display: flex;
    align-items: center;
    margin-top: 0;
    position: relative;
   
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}


.cover-page-container img {
    height: 98vh; 
    width: 100%; 
    object-fit: cover; 
    opacity: 80%;
    margin-top: 0px;
}

.text-overlay {
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    align-items: center;
    color: white;
    width: 90%;
    text-shadow: 0 0 2px black;
}

.text-overlay h1 {
    font-size: 130px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.text-overlay h1 span {
    color: rgb(218, 32, 100);
}

.text-overlay p {
    position: absolute;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 400;
    top: 100%;
    width: 100%;
    text-align: center;
}

@media (max-width: 540px) {
    .text-overlay h1 {
        font-size: 80px;
    }

    .text-overlay p {
        font-size: 20px;
    }

    .cover-page-container {
        max-width: 100%;
        object-fit: cover;
    }

    .cover-page-container img {
        height: 60vh;
        max-width: 100%;
        object-fit: cover;
    }
}

/* ------ End of Cover Page Section ------ */


/* ------ Start of Our Services Section ------ */


.wrapper1 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
    width: 100%;
}

.max-width h1 {
    font-size: 3em;
    margin: 25px 0 ;
    text-align: center;
    font-weight: 900;
    color: rgba(255,0,82);
    text-shadow:0px 15px 25px rgba(0,0,0,0.2);
    position: relative;
}

.max-width h1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.max-width p {
    text-align: center;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}

.card {
    min-height: 220px;
    width: 440px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    margin: 10px 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.card i {
    margin: 20px;
    color: #ff5724;
    font-size: 50px;
}

.card h2 {
    margin-bottom: 12px;
    font-weight: 500;
    text-align: center;
}

.card p {
    color: #6c757d;
    text-align: center;
}

.card:hover {
    
}

.card:hover i,
.card:hover p {
    color: #ffffff;
}

.card:hover h2 {
    font-weight: 700;
}

.card:hover {
    transform: scale(1.03);
}

.card:nth-child(1):hover {
    background: linear-gradient(45deg,
                              rgba(255,28,8,0.8) 0%,
                              rgba(255,0,82,0.8) 100%),
                              url('Images/aboutus_content/food_delivery.jpg');
    background-size: cover;
}

.card:nth-child(2):hover {
    background: linear-gradient(45deg,
                              rgba(10, 121, 19, 0.8) 0%,
                              rgba(8, 232, 16, 0.8) 100%),
                              url('Images/aboutus_content/save_planet.jpg');
    background-size: cover;
}

.card:nth-child(3):hover {
    background: linear-gradient(45deg,
                              rgba(94, 17, 117, 0.8) 0%,
                              rgba(224, 64, 245, 0.8) 100%),
                              url('Images/aboutus_content/neon_pizza.jpg');
    background-size: cover;
}

.card:nth-child(4):hover {
    background: linear-gradient(45deg,
                                rgba(10, 121, 19, 0.8) 0%,
                                rgba(8, 232, 16, 0.8) 100%),
                              url('Images/aboutus_content/vegan_pizza.jpg');
    background-size: cover;
}

.card:nth-child(5):hover {
    background: linear-gradient(45deg,
                              rgba(12, 7, 149, 0.8) 0%,
                              rgba(94, 187, 237, 0.8) 100%),
                              url('Images/aboutus_content/call.png');
    background-size: cover;
}

.card:nth-child(6):hover {
    background: linear-gradient(45deg,
                              rgba(171, 123, 11, 0.8) 0%,
                              rgba(241, 191, 65, 0.8) 100%),
                              url('Images/aboutus_content/membership.jpg');
    background-size: cover;
}

@media(max-width: 991px) 
{
    .wrapper {
        padding: 25px;
    }
    .wrapper h1 {
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box {
        flex-direction: column;
        width: 100%;
    }
    .card {
        min-width: 300px;
        margin: 10px auto;
    }
}

@media(max-width: 540px) 
{
    .max-width {
        width: 90%;
    }
    .content-box {
        width: 95%;
    }
    .card {
        width: 95%;
    }
    .wrapper {
        padding: 10px;
        width: 80%;
    }
    .wrapper h1 {
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box {
        flex-direction: column;
        width: 100%;
    }
    .card {
        min-width: 300px;
        margin: 10px auto;
    }
}

/* ------ End of Our Service Section ------ */

/* ------ Start of Mission & Vision Section ------ */

#section2 {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.container-m {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
   
}

.wrapper {
    margin: 80px auto;
    width: 90%;
    
}

.container-m .wrapper img {
    width: 300px;
    float: left;
    border-radius: 10px;
    margin-right: 30px;

    transition: .3s;
    transform: scale(1);
}

.wrapper:hover img {
    transform: scale(1.05);
}

.text-box {
    color: #070707;
}

.text-box h2 {
    font-size: 45px;
    font-weight: 700;
}

.text-box p {
    font-size: 18px;
}

.wrapper .text-box h2 {
    color: deeppink;
}

.wrapper2 .text-box h2 {
    color: blue;
}


.wrapper2 {
    margin: 80px auto;
    width: 90%;
    
}

.container-m .wrapper2 img {
    width: 300px;
    float: right;
    /* border: 3px solid #0d0d0d; */
    border-radius: 10px;
    margin-left: 30px;

    transition: .3s;
    transform: scale(1);
}

.wrapper2:hover img {
    transform: scale(1.05);
}


@media screen and (max-width: 540px)
{
    .container-m {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
       
    }

    .wrapper {
        text-align: center;
        align-items: center;
        
    }
    .container-m .wrapper img {
        text-align: center;
        justify-content: center;
        align-items: center;
        float: right;
        width: 80%;
        margin-bottom: 20px;
    }

    .container-m .wrapper2 img {
       text-align: center;
       width: 85%;
       float: left;
       
    }

    .text-box {
        
        text-align: center;
    }
    .text-box p {
        text-align: center;
        font-size: 15px;
        margin-bottom: 5px;
    }

    .text-box h2 {
        text-align: center;
        font-size: 35px;
    }
}

/* ---------------- End of Mission & Vision Section -------------------*/

/* ---------------- Start of Customer Review Section -------------------*/

a {
    text-decoration: none;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

.testimonal-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.testimonial-heading h1 {
    font-size: 2.8rem;
    font-weight: 900;
    color: rgba(255,0,82);
    text-shadow:0px 15px 25px rgba(0,0,0,0.2);
    padding: 10px 20px;
    margin-bottom: 5px;

}

.testimonial-heading h5 {
    font-size: 1.0rem;
    color: #252525; 
    margin-bottom: 25px; 
    font-weight: 500;
}

.name-user h3 {
    color: #e4176c;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 1.0rem;
    color: #4b4b4b;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;

    }

    .testimonial-heading h5 {
        font-size: 0.8rem;
    }
}

@media(max-width:790px) {
    .testimonial-box {
        width: 100%;
    }

    .testimonial-heading h1 {
        font-size: 1.8rem;
    }

    .testimonial-heading h5 {
        font-size: 1.0rem;
    }
}

@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .reviews {
        margin-top: 10px;
    }

    .testimonial-heading h5 {
        font-size: 0.8rem;
    }
}

/* ---------------- End of Customer Review Section -------------------*/

/* ---------------- Start of Rating Section -------------------*/

#Rating-Section {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    font-family: 'Poppins';
    background-color: #fafafa;
}

.container {
    width: 600px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
}

.container .post {
    display: none;
}

.container .text {
    font-size: 30px;
    color: #fe7;
    font-weight: 500;
}

.container .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #fe7;
    font-weight: 500;
    cursor: pointer;
}

.container .edit:hover {
    text-decoration: underline;
}

.container .star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 20px;
    float: right;
    transition: all 0.2s ease;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

.star-widget input:checked ~ label {
    color: #fd4;
}

.star-widget input#rate-5:checked ~ label {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

input#rate-1 ~ header::before {
    content: " I don't like";
}

#rate-1:checked ~ form header:before {
    content: "Absolutely terrible experience.😫";
}

#rate-2:checked ~ form header:before {
    content: "Bad experience all around. 😣";
}

#rate-3:checked ~ form header:before {
    content: "This shop is awesome. 🙂";
}

#rate-4:checked ~ form header:before {
    content: "Great pizza and services. 😋";
}

#rate-5:checked ~ form header:before {
    content: "THE BEST PIZZA IN TOWN!!! 😍";
}

.container form {
    display: none;
}

input:checked ~ form {
    display: block;
}

form header {
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}


form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea {
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}

form .btn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

form .btn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .btn button:hover {
    background: #1b1b1b;
}

#Rating-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}


.title-Rating {
    letter-spacing: 1px;
    margin-bottom: 50px;
    margin-top: 80px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.title-Rating h1 {
    font-size: 2.5rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    background: linear-gradient(45deg, rgb(237, 8, 100), rgb(9, 217, 240));
}

.testimonial-heading p {
    font-size: 2.5rem;
    color: #252525;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}


@media screen and (max-width: 540px) {
    .container {
        width: 90%;
        padding: 20px 20px;
    }

    .star-widget label {
        font-size: 30px;
        float: right;
        width: 20%;
        letter-spacing: 10px;
    }

    .container .text {
        font-size: 20px;
    }
   
    .container .edit {
        font-size: 15px;
    }

    .title-Rating h1 {
        font-size: 26px;
    }

    .title-Rating p {
        font-size: 14px;
    }
}

/* ---------------- End of Rating Section -------------------*/

/* ---------------- Footer Section -------------------*/

.box-footer {
    text-align: center; 
    flex: 1
}

.media-size {
    width:40px; 
    height:40px; 
    margin-right: 10px
}

 #image-button {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    margin-right: 5px;
}

#image-button img {
    width: 70px; 
    height: 70px; 
} 

.grab-pay {
    width: 100px;
    height: auto;
}

.touchngo {
    width: 50px;
    height: auto;
}

.mastercard {
    width: 70px;
    height: auto;
}

.enquiry-button {
    border-radius: 30px; 
    background-color:rgb(145, 219, 33);
    color: white; 
    font-size: 20px; 
    padding: 10px 20px;
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 20px; 
    display: flex; 
    justify-content: space-between;
    margin: 20px;
}

@media(max-width:540px) {
footer {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;display: flex;justify-content: space-between;flex-wrap: wrap;}
.box-footer {text-align: center;flex-basis: 33.33%; margin-bottom: 20px;}
.media-size {width: 25px;height: 25px;margin-right: 0.5px;}
.enquiry-button {border-radius: 30px; background-color: rgb(145, 219, 33);color: white;
    font-size: 16px;padding: 8px 16px;margin-top: 10px;}
.grab-pay{width: 70px; height: auto}
.touchngo{width: 25px; height: 25px}
.mastercard{width: 40px; height: auto}
}